@use 'css/variables';

form {
    width: 50%;

    .flex label {
        margin-right: 35px;
    }
}
label {
    i {
        margin-left: 10px;
    }
    [type=checkbox] {
        margin-right: 10px;
    }
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
form input[type=radio]:checked, form input[type=radio]:focus, form input[type=radio]:hover, form input[type=checkbox]:checked, form input[type=checkbox]:hover {
    border-color: variables.$btn-hover;
}
form input[type=radio], form input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1.5px solid variables.$btn;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    vertical-align: bottom;
}