<h1>Your Reservation</h1>
<form method="post" name="availability" validate>
    <div>
        <label for="duration">Travel Dates<i class="fas fa-plane"></i></label>
        <input type="date" id="duration" name="duration">
    </div>
    <div>
        <label for="rooms">Rooms<i class="material-icons">king_bed</i></label>
        <input type="number" id="rooms" name="rooms" min="1">
    </div>
    <div>
        <label for="rooms">Adults<i class="material-icons">people</i></label>
        <input type="number" id="adults" name="adults" min="1">
    </div>
    <div>
        <label for="rooms">Children<i class="fas fa-child"></i></label>
        <input type="number" id="children" name="children" min="0" required>                                  
    </div>                         
    <div>
        <label for="rooms">Accommodations<i class="material-icons">king_bed</i></label>
        <div class="flex">
            <label for="WA" title="Wheelchair Accessible"><input type="checkbox" name="accommodations" id="WA" value="Wheelchair Accessible">Wheelchair Accessible</label>
            <label for="PF" title="Pet Friendly"><input type="checkbox" name="accommodations" id="PF" value="Pet Friendly">Pet Friendly</label>
        </div>
    </div>
    <button type="submit" class="btn-animate btn-animate-center" name="search" title="Check Availability">Check Availability</button>
</form> 