<footer>
    <div class="space-between">
        <div class="uppercase">
            <h3>Featured Links</h3>
            <ul>
                <li><a href="#resorts">Resort</a></li>
                <li><a href="#spa">Spa</a></li>
                <li><a href="#reservations">Reservations</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </div>
        <div>
            <h3 class="uppercase">Contact Us</h3>
            <app-address></app-address>                  
        </div>
        <div class="uppercase">
            <form method="post" id="subscribe">
                <h3>Stay Updated</h3>
                <input type="email" name="email" placeholder="E-mail Address *" required>  
                <button type="submit" class="btn-animate btn-animate-center" name="subscribe" title="Subscribe">Subscribe</button>
            </form>                      
        </div>
    </div>
    <div class="copyright center-text">
        <p>&copy;2021 Nautilus. All Rights Reserved.</p>
        <p class="credit"><small>"Oyster Shell" image in the logo is licensed under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a> by <a href="https://thenounproject.com/vectorsmarket/" target="_blank">Vectors Market</a>.</small></p>
    </div>
</footer> 