<address>
    <div class="flex">
        <i class="material-icons">phone</i>
        <ul>
            <li>
                <h4>Main</h4>: <a href="tel:6639576888">+66&nbsp;(0)&nbsp;39&nbsp;576&nbsp;888</a>
            </li>
            <li>
                <h4>Reservation</h4>: <a href="tel:6639576800">+66&nbsp;(0)&nbsp;39&nbsp;576&nbsp;800</a>
            </li>
        </ul>
    </div>
    <div>
        <i class="material-icons">mail_outline</i>
        <a href="mailto:info@nautilus.com">info@nautilus.com</a>
    </div>
    <div>
        <p>
            <i class="material-icons lg">location_on</i>Koh Chang, Thailand 
        </p>
    </div>                            
</address> 