<h1>Your Reservation</h1>
<form method="post" name="availability" class="half-width" validate>
    <div>
        <label for="duration">Travel Dates<i class="fas fa-plane"></i></label>
        <div class="flatpickr" mwlFlatpickr mode="range" showMonths="2" [options]="app.options">
            <input type="date" id="duration" name="duration" placeholder="mm/dd/yyyy - mm/dd/yyyy" #travelDuration data-input>
            <button class="material-icons" title="Toggle Calendar" data-toggle>calendar_today</button>
            <button class="material-icons" title="Clear" data-clear>clear</button>
        </div>
    </div>
    <div>
        <label for="rooms">Rooms<i class="material-icons">king_bed</i></label>
        <ngx-number-spinner [value]="1" [min]="1" [max]="4" [(ngModel)]="rooms.length" (change)="newRoom()" name="rooms"></ngx-number-spinner>
    </div>    
    <div class="form-section">
        <div *ngFor="let x of [].constructor(rooms.length); index as i">
            <details open>
                <summary>Room {{ i + 1 }}</summary>
                <div class="flex-input">
                    <div>
                        <label for="rooms">Adults<i class="material-icons">people</i></label>
                        <ngx-number-spinner [value]="1" [min]="1" [max]="8" [(ngModel)]="rooms[i].adults" [ngModelOptions]="{standalone: true}" name="adults"></ngx-number-spinner>
                    </div>
                    <div>
                        <label for="rooms">Children<i class="fas fa-child"></i></label>                                 
                        <ngx-number-spinner [value]="0" [min]="0" [max]="5" [(ngModel)]="rooms[i].children.length" [ngModelOptions]="{standalone: true}" name="children"></ngx-number-spinner>
                    </div>                 
                </div>
                <div class="select-wrapper" *ngFor="let x of [].constructor(rooms[i].children.length); index as y">
                    <label>Child {{ y + 1 }}</label>
                    <select [(ngModel)]="rooms[i].children[y]" [ngModelOptions]="{standalone: true}">
                        <option [ngValue]="undefined">--</option>
                        <option value="< 1">< 1</option>
                        <option *ngFor="let y of [].constructor(17); index as age" value="{{ age + 1 }}">{{ age + 1}}</option>
                    </select>
                </div>                
            </details>
        </div>      
    </div>
    <div>
        <label for="rooms">Accommodations<i class="material-icons">wheelchair_pickup</i></label>
        <div class="flex">
            <label for="{{ accommodation.id }}" *ngFor="let accommodation of accommodations">
                <input type="checkbox" name="accommodation" id="{{ accommodation.id }}" [(ngModel)]="accommodation.selected">{{accommodation.name}}
            </label>            
        </div>
    </div>
    <button type="submit" class="btn-animate btn-animate-center" name="search" title="Check Availability" (click)="checkAvailability(travelDuration.value)">Check Availability</button>
</form> 